{:tasks
 {:requires ([babashka.process :refer (sh)]
             [clojure.string :as str])

  open-doc
  (shell "chromium docs/presentation.html")

  pandoc
  (shell "pandoc docs/presentation.md --katex -s -o docs/presentation.html")

  docker-build
  (shell "docker build -t neanderthal-image .")

  docker-run
  (shell (str
          "docker run -td --name neanderthal "
          " -p 53755:53755"
          " -p 8050:8050"
          " -p 8889:8889"
          " -p 7777:7777"
          " -v " (str/trim (:out (sh "pwd"))) ":/home/circleci/app"
          " -w /home/circleci/app neanderthal-image /bin/bash"))

  docker-shell
  (shell "docker exec -it neanderthal /bin/bash")

  docker-repl
  (shell "docker exec -it neanderthal /usr/local/bin/clojure -M:repl")

  docker-clean
  (do (shell "docker stop neanderthal")
      (shell "docker rm neanderthal"))}}
