{:paths ["src"]
 :deps
 {uncomplicate/neanderthal             {:mvn/version "0.43.1"}
  criterium/criterium                  {:mvn/version "0.4.6"}
  djblue/portal                        {:mvn/version "0.18.0"}
  io.github.nextjournal/clerk          {:mvn/version "0.2.214"}
  ;; org.clojars.davidpham87/plotly-pyclj {:mvn/version "LATEST"}

  nrepl/nrepl                   {:mvn/version "LATEST"}
  cider/cider-nrepl             {:mvn/version "LATEST"}
  refactor-nrepl/refactor-nrepl {:mvn/version "LATEST"}}

 :aliases
 {:repl
  {:main-opts ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                "--bind"  "0.0.0.0"
               "--port" "8889"]
   :jvm-opts
   ["-Dclojure.compiler.direct-linking=true"
    "-XX:MaxDirectMemorySize=16g"
    "-XX:+UseLargePages"
    "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}

 :jvm-opts
 ["-Dclojure.compiler.direct-linking=true"
  "-XX:MaxDirectMemorySize=16g"
  "-XX:+UseLargePages"
  "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
  "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
